body {
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

nav li:last-child a {
  background: rgb(0, 179, 179);
  transition: 0.8s all;
}
nav li:last-child a:hover {
  background: rgb(2, 68, 250);
  color: #fff;
}

nav li:last-child a.selected {
  background: rgb(2, 68, 250);
  color: #fff;
}

nav li a.selected {
  color: rgb(0, 179, 179);
}

nav li a {
  transition: 0.8s all;
}
nav li a:hover {
  color: rgb(0, 179, 179);
}

section.main {
  background: aliceblue;
}

.size {
  background: aliceblue;
}

.addcart {
  border: 2px solid rgb(0, 179, 179);
  transition: 0.8s all;
  color: rgb(0, 179, 179);
}
.addcart:hover {
  background: rgb(0, 179, 179);
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: rgb(0, 179, 179);
  transition: 0.8s all;
}
.btn-primary:hover {
  background: rgb(2, 68, 250);
}

section.cart {
  background: aliceblue;
}
section.cart .amount {
  color: rgb(0, 179, 179);
}

section.login {
  background: aliceblue;
}

section.register {
  background: aliceblue;
}

::-webkit-file-upload-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}
