/// COLORS ////
$primary: rgb(0, 179, 179);
$primary-hover: rgb(2, 68, 250);
$secondary: rgb(0, 84, 179);
$white: #fff;
$dark: #14171b;
$gray: #ccc;
$black: #000;
/// TRANSITIONS ///
$smooth: 0.8s all;